html {
  height: 100vh;
  box-sizing: border-box;
}

body > #root > div {
  height: 100vh;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.app {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: black;
  margin-bottom: 20px;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.current {
  border-bottom: 4px solid white;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}

.img-logo{
  height: 20vh;
}
.centered-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.center{
  margin: auto;
  width: 50vw;
  padding: 10px;
}